# Environment variables
.env
venv/

# Python
__pycache__/
build/
dist/

# Django
*.log
db.sqlite3
db.sqlite3-journal
migrations/

# Node.js
node_modules/


# React
build/
.DS_Store
.env.local
.env.development.local
.env.production.local

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
